<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>jvtzLr2ePY9nXNujWMsBQq2Wo</string>
	<key>clientSecret</key>
	<string>8h7WPEbR3vEVMhmdd0Kka7Rxy</string>
</dict>
</plist>
